html {
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 13px;
  line-height: 20px;
	background-image: url("/img/floor.png");
	 background-size: 1200px 630px;
	background-repeat: no-repeat;
}

div.kawano {
	    height: 90px;
	    width: 90px;
	    left: 520px;
	    top: 170px;
	    position: absolute;
}

div.luke {
	    height: 90px;
	    width: 90px;
	    left: 520px;
	    top: 245px;
	    position: absolute;
}
